<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>com.tuto.android.gae.server.RestletDispatch</param-value>
</context-param>


  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.example.cloud.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/project_test_cloud/greet</url-pattern>
  </servlet-mapping>
  
  	<servlet>
      <servlet-name>RestletServlet</servlet-name>
      <servlet-class>
         org.restlet.ext.servlet.ServerServlet
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RestletServlet</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Project_Test_Cloud.html</welcome-file>
  </welcome-file-list>

</web-app>